# Merge the data according to the survey

In [1]:
import pandas as pd
import re
import os

In [2]:
os.chdir('../')

In [3]:
path_to_raw_data="1. Raw Data"
path_to_processed_data="2. Processed data/"

## 12-month enrollment data (12-month unduplicated headcount)

In [4]:
file_effy_list=["effy2015_rv.csv","effy2016_rv.csv","effy2017_rv.csv","effy2018.csv"]

In [ ]:
df1=pd.read_csv(path_to_raw_data+"\\12-Month Enrollment\\"+"effy2014_rv.csv")
# df1.set_index('UNITID', inplace=True)

In [6]:
def check_colums(x,year):
#     print(x)
    li_col=["UNITID","EFFYLEV","AWLEVEL","CIPCODE","AWLEVELC","EFALEVEL"]
    if x not in li_col:
        return str(x)+'_'+str(year)
    else:
        return str(x)

In [ ]:
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2014))

In [ ]:
for file in file_effy_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\12-Month Enrollment\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
#     print(df)
#     dfs=pd.concat(df)
#     df1=df1.join(df,rsuffix="_"+pattern[0])
    df1=df1.merge(df,how="outer",left_on=["UNITID","EFFYLEV"],right_on=["UNITID","EFFYLEV"])
#     df1=pd.merge([df1, df],how="outer",left_on=["UNITID","EFFYLEV"],right_on=["UNITID","EFFYLEV"])
#     big_dataframe = pd.concat(df,join="UNITID", ignore_index=True)

In [ ]:
df1.to_csv(path_to_processed_data+"EFFY_output.csv")

## 12-month enrollment data (12-month instructional activity)

In [ ]:
file_effia_list=["efia2014_rv.csv","efia2015_rv.csv","efia2016_rv.csv","efia2017_rv.csv"]

In [ ]:
df1=pd.read_csv(path_to_raw_data+"\\12-Month Enrollment\\"+"efia2018.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2018))

In [ ]:
df1

In [ ]:
for file in file_effia_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\12-Month Enrollment\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID"],right_on=["UNITID"])

In [ ]:
df1.to_csv(path_to_processed_data+"EFIA_output.csv")

## Admissions and Test Scores

In [ ]:
admi_list=["adm2015_rv.csv","adm2016_rv.csv"]

In [ ]:
df1=pd.read_csv(path_to_raw_data+"\\Admissions and Test Scores\\"+"adm2017_rv.csv")

In [ ]:
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2017))

In [ ]:
for file in admi_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Admissions and Test Scores\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID"],right_on=["UNITID"])

In [ ]:
df1.to_csv(path_to_processed_data+"Admission&testscore_output.csv")

##  Completions (Awards/degrees conferred by program (6-digit CIP code), award level, race/ethnicity, and gender)

In [7]:
c_a_list=["c2014_a_rv.csv","c2015_a_rv.csv","c2016_a_rv.csv","c2017_a_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Completions\\"+"c2018_a.csv")
df1=df1[df1['MAJORNUM']==1]
df1=df1.drop(['MAJORNUM'],axis=1)
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2018))

In [8]:
for file in c_a_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Completions\\"+file)
    df=df[df['MAJORNUM']==1]
    df=df.drop(['MAJORNUM'],axis=1)
#     df=df.loc[:,~df.columns.str.startswith('X')]
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID","AWLEVEL","CIPCODE"],right_on=["UNITID","AWLEVEL","CIPCODE"])

2014
2015
2016
2017

In [9]:
df1

,UNITID,CIPCODE,AWLEVEL,XCTOTALT_2018,CTOTALT_2018,XCTOTALM_2018,CTOTALM_2018,XCTOTALW_2018,CTOTALW_2018,XCAIANT_2018,...,XCUNKNM_2017,CUNKNM_2017,XCUNKNW_2017,CUNKNW_2017,XCNRALT_2017,CNRALT_2017,XCNRALM_2017,CNRALM_2017,XCNRALW_2017,CNRALW _2017
0,100654,1.0999,5,R,5.0,Z,0.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
1,100654,1.1001,5,R,9.0,R,2.0,R,7.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
2,100654,1.1001,7,R,5.0,R,1.0,R,4.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
3,100654,1.1001,17,R,1.0,R,1.0,Z,0.0,Z,...,Z,0.0,Z,0.0,R,1.0,R,1.0,Z,0.0
4,100654,1.9999,5,R,6.0,R,1.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316998,491242,12.0402,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
316999,491242,12.0407,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317000,491242,99.0000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317001,491297,52.1899,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
317002,491297,52.1899,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0

In [10]:
df1.to_csv(path_to_processed_data+"completion_a_output.csv")

## Completions (Number of students receiving awards/degrees, by award level and by gender, race/ethnicity and age categories)

In [ ]:
c_c_list=["c2014_c_rv.csv","c2015_c_rv.csv","c2016_c_rv.csv","c2017_c_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Completions\\"+"c2018_c.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2018))

In [ ]:
for file in c_c_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Completions\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID","AWLEVELC"],right_on=["UNITID","AWLEVELC"])

In [ ]:
df1.to_csv(path_to_processed_data+"completion_c_output.csv")

## Fall Enrollment (Race/ethnicity, gender, attendance status, and level of student)

In [ ]:
fe_a_list=["ef2013a_rv.csv","ef2014a_rv.csv","ef2015a_rv.csv","ef2016a_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+"ef2017a_rv.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2017))

In [ ]:
for file in fe_a_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID","EFALEVEL"],right_on=["UNITID","EFALEVEL"])

In [ ]:
df1.to_csv(path_to_processed_data+"FallEnrollment_a_output.csv")

## Fall Enrollment (Age category, gender, attendance status, and level of student)

In [ ]:
def check_age_colums(x,year):
#     print(x)
    li_col=["UNITID","EFBAGE","LSTUDY"]
    if x not in li_col:
        return str(x)+'_'+str(year)
    else:
        return str(x)

In [ ]:
fe_b_list=["ef2013b_rv.csv","ef2014b_rv.csv","ef2015b_rv.csv","ef2016b_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+"ef2017b_rv.csv")
df1.columns = df1.columns.map(lambda x: check_age_colums(str(x),2017))

In [ ]:
for file in fe_b_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+file)
    df.columns = df.columns.map(lambda x: check_age_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID","EFBAGE","LSTUDY"],right_on=["UNITID","EFBAGE","LSTUDY"])

In [ ]:
df1.to_csv(path_to_processed_data+"FallEnrollment_b_output.csv")

## Fall Enrollment (Total entering class, retention rates, and student-to-faculty ratio)

In [ ]:
fe_d_list=["ef2013d_rv.csv","ef2014d_rv.csv","ef2015d_rv.csv","ef2016d_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+"ef2017d_rv.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),2017))

In [ ]:
for file in fe_d_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Fall Enrollment\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID"],right_on=["UNITID"])

In [ ]:
df1.to_csv(path_to_processed_data+"FallEnrollment_d_output.csv")

## Student Financial Aid and Net Price (Student financial aid and net price)

In [ ]:
sf_list=["sfa1415_rv.csv","sfa1516_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Student Financial Aid and Net Price\\"+"sfa1617_rv.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),1617))

In [ ]:
for file in sf_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Student Financial Aid and Net Price\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID"],right_on=["UNITID"])

In [ ]:
df1.to_csv(path_to_processed_data+"StudentFinancialnet_sfa_output.csv")

## Student Financial Aid and Net Price (Military Servicemembers and Veteran's Benefits)

In [ ]:
sfm_list=["sfav1415_rv.csv","sfav1516_rv.csv"]
df1=pd.read_csv(path_to_raw_data+"\\Student Financial Aid and Net Price\\"+"sfav1617_rv.csv")
df1.columns = df1.columns.map(lambda x: check_colums(str(x),1617))

In [ ]:
for file in sfm_list:
    year=re.findall('\d+',file)
    print(year[0])
    df=pd.read_csv(path_to_raw_data+"\\Student Financial Aid and Net Price\\"+file)
    df.columns = df.columns.map(lambda x: check_colums(str(x),year[0]))
    df1=df1.merge(df,how="outer",left_on=["UNITID"],right_on=["UNITID"])

In [ ]:
df1.to_csv(path_to_processed_data+"StudentFinancialnet_sfav_output.csv")