# Find Similar Institution based on Carnegie Classification within 100 miles in long Beach offering Bachelorâ€™s Degree in Nursing.

### Import Modules

In [1]:
import pandas as pd
from math import radians, sin, cos, asin, sqrt
import os

In [2]:
os.chdir('../')

### Institiustional Characteristics File

In [3]:
IC_df=pd.read_csv("1. Raw Data/Institutional Characteristics/hd2017.csv",encoding='latin-1')

### Completion files <br>(File A :Awards/degrees conferred by program (6-digit CIP code), award level, race/ethnicity, and gender)<br><br> (File C:Number of students receiving awards/degrees, by award level and by gender, race/ethnicity and age categories)

In [4]:
path_to_processed_files="2. Processed data/"

In [5]:
comp_a_df=pd.read_csv(path_to_processed_files+"completion_a_output.csv",index_col=None,low_memory=False)

In [6]:
comp_c_df=pd.read_csv(path_to_processed_files+"completion_c_output.csv",index_col=None,low_memory=False)

 ### Financial Aid and Net Price<br> (File SFA:Student financial aid and net price)<br><br>(File SFAV: Military Servicemembers and Veteran's Benefits)

In [7]:
sfa_df=pd.read_csv(path_to_processed_files+"StudentFinancialnet_sfa_output.csv", low_memory=False)

In [8]:
sfav_df=pd.read_csv(path_to_processed_files+"StudentFinancialnet_sfav_output.csv", low_memory=False)

### Fall Enrollment <br>(File A: Race/ethnicity, gender, attendance status, and level of student)<br>(File B: Age category, gender, attendance status, and level of student)<br>(File D: Total entering class, retention rates, and student-to-faculty ratio)

In [9]:
FE_a_df=pd.read_csv(path_to_processed_files+"FallEnrollment_a_output.csv",low_memory=False)

In [10]:
FE_b_df=pd.read_csv(path_to_processed_files+"FallEnrollment_b_output.csv",low_memory=False)

In [11]:
FE_d_df=pd.read_csv(path_to_processed_files+"FallEnrollment_d_output.csv",low_memory=False)

### Admissions and Test Scores<br>(Admission considerations, applications, admissions, enrollees and test scores)

In [12]:
at_df=pd.read_csv(path_to_processed_files+"Admission&testscore_output.csv")

### 12-month enrollment data<br>(File EFFY :12-month unduplicated headcount)<br>(File EFIA:12-month instructional activity)

In [13]:
effy_df=pd.read_csv(path_to_processed_files+"EFFY_output.csv")

In [14]:
efia_df=pd.read_csv(path_to_processed_files+"EFIA_output.csv")

# Input user Preferances

In [15]:
awlevel={"Associate's degree":3,
"Bachelor's degree":5,
"Master's degree":7,
"Doctor's degree - research/scholarship":17,
"Doctor's degree - professional practice":18,
"Doctor's degree - other":19,
"Award of less than 1 academic year":1,
"Award of at least 1 but less than 2 academic years":2,
"Award of at least 2 but less than 4 academic years":4,
"Postbaccalaureate certificate":6,
"Post-master's certificate":8,
}

In [16]:
for key,value in awlevel.items():
    print("Degree :{} and award Number :{}".format(key,value))

Degree :Associate's degree and award Number :3
Degree :Bachelor's degree and award Number :5
Degree :Master's degree and award Number :7
Degree :Doctor's degree - research/scholarship and award Number :17
Degree :Doctor's degree - professional practice and award Number :18
Degree :Doctor's degree - other and award Number :19
Degree :Award of less than 1 academic year and award Number :1
Degree :Award of at least 1 but less than 2 academic years and award Number :2
Degree :Award of at least 2 but less than 4 academic years and award Number :4
Degree :Postbaccalaureate certificate and award Number :6
Degree :Post-master's certificate and award Number :8

In [ ]:
# Enter 5 for test
# input_a=input("Select the award level/Degree:\n")

In [17]:
CIPCODE=51.3801
# AWLEVEL=int(input_a)

## awlevel and Cipcode filter from completion File A

In [19]:
unit_df=comp_a_df[(comp_a_df['AWLEVEL']==3) & (comp_a_df['CIPCODE']==CIPCODE)|(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]

In [20]:
unit_df=unit_df['UNITID'].unique()

In [21]:
uni_list=IC_df.loc[IC_df['UNITID'].isin(list(unit_df))]

In [22]:
uni_list[['INSTNM','UNITID']]

                                                 INSTNM  UNITID
1                   University of Alabama at Birmingham  100663
3                   University of Alabama in Huntsville  100706
6                             The University of Alabama  100751
7                     Central Alabama Community College  100760
9                       Auburn University at Montgomery  100830
...                                                 ...     ...
7122           National American University-Garden City  491093
7123             National American University-Watertown  491109
7124  National American University-Career Point Coll...  491118
7131                       Galen College of Nursing-ARH  491181
7138             University of Wisconsin-Milwaukee Flex  491288

[2147 rows x 2 columns]

In [23]:
# Enter 110583(CSULB for testing) for 
uni_input=input("Input the universtity UNITID\n")

Input the universtity UNITID
477039

In [25]:
final_uni=IC_df[IC_df['UNITID']==int(uni_input)]

In [26]:
long=float(final_uni['LONGITUD'])
lat=float(final_uni['LATITUDE'])

In [27]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 3958.756 * asin(sqrt(a))

In [28]:
uni_list

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,109,1
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,112,2
6,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0166,1,5,Dr. Stuart R. Bell,...,1,-2,-2,1125,Tuscaloosa County,107,-87.545978,33.211875,111,1
7,100760,Central Alabama Community College,,1675 Cherokee Rd,Alexander City,AL,35010,1,5,Dr. Susan Burrow,...,2,142,-2,1123,Tallapoosa County,103,-85.945266,32.924780,74,2
9,100830,Auburn University at Montgomery,AUM|Auburn University Montgomery|Auburn Univer...,7440 East Drive,Montgomery,AL,36117-3596,1,5,Carl A Stockton,...,1,-2,-2,1101,Montgomery County,102,-86.177544,32.367360,122,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,491093,National American University-Garden City,,801 Campus Drive,Garden City,KS,67846-6333,20,4,Dr. Ronald Shape,...,2,-2,-2,20055,Finney County,2001,-100.849205,37.970526,222,2
7123,491109,National American University-Watertown,,925 29th Street S.E.,Watertown,SD,57201-9123,46,4,Dr. Ronald Shape,...,2,-2,-2,46029,Codington County,4600,-97.069586,44.889215,222,2
7124,491118,National American University-Career Point Coll...,,4522 Fredericksburg Road,San Antonio,TX,78201-6549,48,6,Dr. Ronald Shape,...,1,-2,-2,48029,Bexar County,4820,-98.551158,29.493372,218,2
7131,491181,Galen College of Nursing-ARH,,100 Airport Gardens Drive,Hazard,KY,41701-9519,21,5,Dr. Connie Cooper,...,-2,-2,-2,21193,Perry County,2105,-83.205298,37.285896,246,2
7138,491288,University of Wisconsin-Milwaukee Flex,,2200 E Kenwood Blvd,Milwaukee,WI,53201,55,3,Mark Mone,...,1,376,-2,55079,Milwaukee County,5504,-87.880488,43.076848,159,2

In [29]:
uni_list['distance (in miles)']=uni_list.apply(lambda x: haversine(long,lat,x['LONGITUD'],x['LATITUDE']),axis=1)

C:\Users\saumy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Final Datafile within the range

In [30]:
final_df=uni_list[uni_list['distance (in miles)']<=35]

In [31]:
final_df

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,distance (in miles)
3540,223524,Brookhaven College,,3939 Valley View Ln,Farmers Branch,TX,75244-4997,48,6,Dr. Thom Chesney,...,206,-2,48113,Dallas County,4824,-96.850160,32.928237,80,2,7.096909
3562,224615,El Centro College,,801 Main Street,Dallas,TX,75202-3604,48,6,Dr. Jose Adames,...,206,-2,48113,Dallas County,4830,-96.805361,32.779817,88,2,5.160992
3616,226930,Mountain View College,,4849 West Illinois Ave.,Dallas,TX,75211-6599,48,6,Dr. Robert Garza,...,206,-2,48113,Dallas County,4833,-96.903798,32.726573,80,2,7.185080
3667,228547,Tarrant County College District,Tarrant County College,1500 Houston St,Fort Worth,TX,76102-6524,48,6,Eugene V. Giovannini,...,206,-2,48439,Tarrant County,4812,-97.327948,32.747501,76,2,26.951506
3676,228769,The University of Texas at Arlington,UT Arlington,701 S. Nedderman Dr.,Arlington,TX,76013,48,6,Dr. Vistasp M. Karbhari,...,206,-2,48439,Tarrant County,4806,-97.112960,32.729718,107,1,15.447305
3682,228875,Texas Christian University,TCU,2800 S University Dr,Fort Worth,TX,76129,48,6,"Victor J. Boschini, Jr.",...,206,-2,48439,Tarrant County,4812,-97.361537,32.709568,113,2,29.483793
3693,229179,Texas Woman's University,TWU,304 Administration Dr,Denton,TX,76204,48,6,Carine Feyten,...,206,-2,48121,Denton County,4826,-97.129088,33.227002,114,1,31.317130
4184,247834,Collin County Community College District,Collin County Community College District|Colli...,3452 Spur 399,McKinney,TX,75069,48,6,H. Neil Matkin,...,206,-2,48085,Collin County,4803,-96.638940,33.162410,76,1,26.848300
4971,434052,ITT Technical Institute-Richardson,,2101 Waterview Pky,Richardson,TX,75080,48,6,,...,206,-2,48113,Dallas County,4832,-96.757217,32.979759,-2,-2,12.508862
5043,437732,Dallas Nursing Institute,,12170 N. Abrams Road Suite 200,Dallas,TX,75243,48,6,Charlita Shelton,...,206,-2,48113,Dallas County,4832,-96.734878,32.913800,177,2,10.029217
5211,442222,Argosy University-Dallas,,"5001 Lyndon B. Johnson Freeway, Heritage Squar...",Farmers Branch,TX,75244,48,6,"Brian McAulay, PhD",...,206,-2,48113,Dallas County,4824,-96.823294,32.928188,175,1,7.551632
6135,460181,Concorde Career College-Dallas,,12606 Greenville Ave Ste 130,Dallas,TX,75243,48,6,Erin Henry,...,206,-2,48113,Dallas County,4832,-96.741711,32.918560,198,2,9.918551
6398,475750,Carrington College-Mesquite,Carrington College-Mesquite,3733 W. Emporium Circle,Mesquite,TX,75150-6509,48,6,Leigh Christopherson,...,206,-2,48113,Dallas County,4805,-96.625985,32.815899,246,1,14.411417
6454,477039,West Coast University-Dallas,,8435 North Stemmons Freeway,Dallas,TX,75247-3900,48,6,Jeb Egbert,...,206,-2,48113,Dallas County,4833,-96.873805,32.827460,175,2,0.000000

In [32]:
com_a_list_col=comp_a_df.filter(regex="MAJORNUM")

In [33]:
comp_a_df=comp_a_df.drop(["Unnamed: 0"],axis=1)

In [34]:
comp_a_df

,UNITID,CIPCODE,AWLEVEL,XCTOTALT_2018,CTOTALT_2018,XCTOTALM_2018,CTOTALM_2018,XCTOTALW_2018,CTOTALW_2018,XCAIANT_2018,...,XCUNKNM_2017,CUNKNM_2017,XCUNKNW_2017,CUNKNW_2017,XCNRALT_2017,CNRALT_2017,XCNRALM_2017,CNRALM_2017,XCNRALW_2017,CNRALW _2017
0,100654,1.0999,5,R,5.0,Z,0.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
1,100654,1.1001,5,R,9.0,R,2.0,R,7.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
2,100654,1.1001,7,R,5.0,R,1.0,R,4.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
3,100654,1.1001,17,R,1.0,R,1.0,Z,0.0,Z,...,Z,0.0,Z,0.0,R,1.0,R,1.0,Z,0.0
4,100654,1.9999,5,R,6.0,R,1.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316998,491242,12.0402,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
316999,491242,12.0407,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317000,491242,99.0000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317001,491297,52.1899,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
317002,491297,52.1899,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0

In [33]:
comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['AWLEVEL']==3)|(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['AWLEVEL']==5)]
# comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['MAJORNUM_2017']==1) & (comp_a_df['AWLEVEL']==AWLEVEL)]

In [34]:
comp_a_df

,UNITID,CIPCODE,AWLEVEL,XCTOTALT_2018,CTOTALT_2018,XCTOTALM_2018,CTOTALM_2018,XCTOTALW_2018,CTOTALW_2018,XCAIANT_2018,...,XCUNKNM_2017,CUNKNM_2017,XCUNKNW_2017,CUNKNW_2017,XCNRALT_2017,CNRALT_2017,XCNRALM_2017,CNRALM_2017,XCNRALW_2017,CNRALW _2017
200,100663,51.3801,5,R,332.0,R,56.0,R,276.0,Z,...,Z,0.0,R,1.0,R,2.0,Z,0.0,R,2.0
336,100706,51.3801,5,R,191.0,R,19.0,R,172.0,R,...,Z,0.0,R,3.0,R,1.0,Z,0.0,R,1.0
607,100751,51.3801,5,R,387.0,R,45.0,R,342.0,R,...,R,0.0,R,1.0,R,1.0,R,0.0,R,1.0
663,100760,51.3801,3,R,25.0,R,0.0,R,25.0,R,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
770,100830,51.3801,5,R,179.0,R,24.0,R,155.0,Z,...,Z,0.0,R,1.0,Z,0.0,Z,0.0,Z,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315135,447360,51.3801,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315437,487834,51.3801,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
315540,101073,51.3801,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
316550,214704,51.3801,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
316966,489821,51.3801,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0

## Merge all files with result Universities

Completion A

In [35]:
result_comp_a=pd.merge(final_df,comp_a_df, on='UNITID',how='left')

In [36]:
result_comp_a[["AWLEVEL"]]

    AWLEVEL
0         5
1         3
2         5
3         3
4         3
5         5
6         5
7         5
8         5
9         3
10        5
11        3
12        3
13        3
14        3
15        3
16        3
17        3
18        3
19        5
20        3
21        3
22        5
23        3
24        3
25        3

Completion C

In [37]:
comp_c_df=comp_c_df[(comp_c_df['AWLEVELC']==3)|(comp_c_df['AWLEVELC']==5)]

In [38]:
result_comp_c=pd.merge(result_comp_a,comp_c_df, left_on=['UNITID','AWLEVEL'],right_on=["UNITID","AWLEVELC"],how='left')
result_comp_c=result_comp_c.loc[:,~result_comp_c.columns.str.startswith('X')]

In [39]:
result_comp_c

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CSNHPIT_2017,CSWHITT_2017,CS2MORT_2017,CSUNKNT_2017,CSNRALT_2017,CSUND18_2017,CS18_24_2017,CS25_39_2017,CSABV40_2017,CSUNKN _2017
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,0.0,173.0,17.0,36.0,75.0,0.0,363.0,277.0,175.0,2.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,0.0,11.0,6.0,3.0,0.0,0.0,21.0,65.0,12.0,0.0
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,12.0,953.0,201.0,90.0,627.0,0.0,5161.0,3870.0,367.0,2.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,8.0,3.0,0.0
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,3.0,612.0,41.0,244.0,709.0,120.0,6193.0,2631.0,621.0,0.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,1.0,76.0,0.0,29.0,63.0,0.0,200.0,667.0,244.0,0.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,2.0,1184.0,85.0,151.0,363.0,0.0,2468.0,218.0,25.0,0.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,0.0,378.0,35.0,39.0,59.0,0.0,691.0,470.0,97.0,0.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,0.0,25.0,7.0,21.0,37.0,0.0,125.0,67.0,31.0,0.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,0.0,6.0,0.0,0.0,3.0,0.0,58.0,159.0,30.0,0.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,0.0,5.0,3.0,0.0,1.0,0.0,17.0,153.0,46.0,0.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,0.0,4.0,4.0,0.0,0.0,0.0,15.0,34.0,13.0,0.0
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,0.0,1.0,0.0,1.0,0.0,0.0,23.0,54.0,16.0,0.0
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,0.0,0.0,0.0,0.0,0.0,0.0,35.0,102.0,52.0,0.0
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,0.0,2.0,1.0,0.0,0.0,0.0,4.0,169.0,132.0,0.0
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,13.0,0.0
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,21.0,4.0,0.0
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,0.0,9.0,1.0,0.0,0.0,0.0,4.0,45.0,3.0,0.0
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,0.0,1.0,0.0,3.0,0.0,0.0,3.0,18.0,11.0,0.0
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,26.0,10.0,0.0

Fall Enrollment A

In [40]:
# Enter 2 for undergraduate Total
EFALEVEL=input("Input the Level of Record you want fo fall\n Enter 1 for All total Students\nEnter 2 for All Students, Undergraduate total\nEnter 3 for All gradute Students\n ")

Input the Level of Record you want fo fall
 Enter 1 for All total Students
Enter 2 for All Students, Undergraduate total
Enter 3 for All gradute Students
 2

In [ ]:
# result.rename(columns = {'CTOTALT':'Grand total','CTOTALM':'Grand total men','CTOTALW':'Grand total women',
#                           'CAIANT':'American Indian or Alaska Native total','CASIAT':'Asian total',
#                           'CBKAAT':'Black or African American total','CHISPT':'Hispanic or Latino total',
#                           'CNHPIT':'Native Hawaiian or Other Pacific Islander total','CWHITT':'White total',
#                           'C2MORT':'Two or more races total','CUNKNT':'Race/ethnicity unknown total',
#                           'CNRALT':'Nonresident alien total'}, inplace = True)

In [ ]:
# result=result.loc[:,~result.columns.str.startswith('X')]
# result=result.drop(columns=['CNRALM','CUNKNW','CUNKNM','C2MORW','CWHITM','CWHITW',
#                             'C2MORM','CNHPIW','CNHPIM','CHISPW','CHISPM',
#                             'CBKAAW','CBKAAM','CASIAW','CASIAM','CAIANW','CAIANM','CNRALW  '],axis=1)

In [41]:
FE_a_df=FE_a_df[(FE_a_df['EFALEVEL']==int(EFALEVEL))]
result_fallenroll_a=pd.merge(result_comp_c,FE_a_df,on='UNITID',how='left')

In [42]:
result_fallenroll_a

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,XEFUNKNM_2016,EFUNKNM_2016,XEFUNKNW_2016,EFUNKNW_2016,XEFNRALT_2016,EFNRALT_2016,XEFNRALM_2016,EFNRALM_2016,XEFNRALW_2016,EFNRALW _2016
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,R,105.0,R,227.0,R,305.0,R,147.0,R,158.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,R,4.0,R,8.0,Z,0.0,Z,0.0,Z,0.0
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,R,127.0,R,143.0,R,2488.0,R,1202.0,R,1286.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,R,4.0,R,11.0,R,0.0,Z,0.0,R,0.0
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,633.0,R,856.0,R,3485.0,R,1563.0,R,1922.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,633.0,R,856.0,R,3485.0,R,1563.0,R,1922.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,R,231.0,R,248.0,R,1535.0,R,788.0,R,747.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,R,38.0,R,113.0,R,243.0,R,113.0,R,130.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,R,35.0,R,33.0,R,158.0,R,94.0,R,64.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,2.0,R,22.0,R,367.0,R,169.0,R,198.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,2.0,R,22.0,R,367.0,R,169.0,R,198.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,R,1.0,R,0.0,Z,0.0,Z,0.0,Z,0.0
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,Z,0.0,R,2.0,R,2.0,R,1.0,R,1.0
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,R,4.0,R,0.0,R,0.0,R,0.0,R,0.0
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,R,1.0,R,2.0,Z,0.0,Z,0.0,Z,0.0
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,R,22.0,R,34.0,R,0.0,R,0.0,Z,0.0
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Fall Enrollment B

In [43]:
result_fallenroll_b=pd.merge(result_fallenroll_a,FE_b_df,on='UNITID',how='left')

In [44]:
result_fallenroll_b

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,EFBAGE_AgeUnknown_2017,EFAGE01_AgeUnknown_2017,EFAGE02_AgeUnknown_2017,EFAGE03_AgeUnknown_2017,EFAGE04_AgeUnknown_2017,EFAGE05_AgeUnknown_2017,EFAGE06_AgeUnknown_2017,EFAGE07_AgeUnknown_2017,EFAGE08_AgeUnknown_2017,EFAGE09 _AgeUnknown_2017
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,14.0,1.0,3.0,67.0,106.0,4.0,173.0,68.0,109.0,177.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,14.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,14.0,0.0,0.0,2.0,5.0,0.0,7.0,2.0,5.0,7.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,14.0,0.0,0.0,2.0,5.0,0.0,7.0,2.0,5.0,7.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,14.0,0.0,0.0,3.0,0.0,0.0,3.0,3.0,0.0,3.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,14.0,0.0,0.0,3.0,0.0,0.0,3.0,3.0,0.0,3.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,14.0,0.0,10.0,0.0,0.0,10.0,0.0,0.0,10.0,10.0
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Fall Enrollment D

In [45]:
result_fallenroll_d=pd.merge(result_fallenroll_b,FE_d_df,on='UNITID',how='left')

In [46]:
result_fallenroll_d

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,XRRPTIN_2016,RRPTIN_2016,XRRPTCTA_2016,RRPTCTA_2016,XRET_NMP_2016,RET_NMP_2016,XRET_PCP_2016,RET_PCP_2016,XSTUFACR_2016,STUFACR _2016
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,Z,0.0,R,2.0,R,1.0,R,50.0,R,11.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,A,NaN,A,NaN,A,NaN,A,NaN,R,36.0
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,R,0.0,R,415.0,R,314.0,R,76.0,R,27.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,A,NaN,A,NaN,A,NaN,A,NaN,R,15.0
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,0.0,R,0.0,Z,0.0,A,NaN,R,18.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,0.0,R,0.0,Z,0.0,A,NaN,R,18.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,Z,0.0,R,24.0,R,20.0,R,83.0,R,12.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,R,0.0,R,22.0,R,7.0,R,32.0,R,17.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,R,0.0,R,0.0,R,0.0,A,NaN,R,14.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,0.0,R,7.0,R,6.0,R,86.0,R,31.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,0.0,R,7.0,R,6.0,R,86.0,R,31.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,R,0.0,R,0.0,R,0.0,A,NaN,R,13.0
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,A,NaN,A,NaN,A,NaN,A,NaN,R,15.0
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,R,0.0,R,3.0,R,3.0,R,100.0,R,29.0
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,A,NaN,A,NaN,A,NaN,A,NaN,R,3.0
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,A,NaN,A,NaN,A,NaN,A,NaN,R,19.0
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,0.0,R,0.0,R,0.0,A,NaN,R,14.0
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,0.0,R,0.0,R,0.0,A,NaN,R,14.0
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,A,NaN,A,NaN,A,NaN,A,NaN,R,28.0
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,R,0.0,R,21.0,R,13.0,R,62.0,R,6.0
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,R,0.0,R,0.0,R,0.0,A,NaN,R,13.0
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,A,NaN,A,NaN,A,NaN,A,NaN,R,15.0
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,A,NaN,A,NaN,A,NaN,A,NaN,R,15.0
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Student Financial  Aid and Net Price (Student financial aid and net price)

In [47]:
result_sfa=pd.merge(result_fallenroll_d,sfa_df,on='UNITID',how='left')

In [48]:
result_sfa

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,XNPT410_1516,NPT410_1516,XNPT420_1516,NPT420_1516,XNPT430_1516,NPT430_1516,XNPT440_1516,NPT440_1516,XNPT450_1516,NPT450 _1516
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,R,22275.0,R,22431.0,R,25588.0,R,27548.0,R,30555.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,R,21230.0,R,21327.0,R,23578.0,R,26525.0,A,NaN
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,R,39803.0,R,41147.0,A,NaN,R,43778.0,A,NaN
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,R,24792.0,R,26468.0,R,29465.0,R,34005.0,R,39206.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,R,22500.0,R,23883.0,R,24409.0,R,27692.0,R,30566.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,R,20817.0,R,21836.0,R,22835.0,R,25227.0,R,21598.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,19361.0,R,19583.0,R,21765.0,R,25251.0,A,NaN
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,19361.0,R,19583.0,R,21765.0,R,25251.0,A,NaN
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,R,22259.0,R,22431.0,A,NaN,A,NaN,A,NaN
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,R,11589.0,A,NaN,A,NaN,A,NaN,A,NaN
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,R,19870.0,A,NaN,A,NaN,A,NaN,A,NaN
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,R,20776.0,R,18251.0,R,23062.0,A,NaN,A,NaN
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,21118.0,R,23236.0,R,23236.0,R,23236.0,A,NaN
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,R,21118.0,R,23236.0,R,23236.0,R,23236.0,A,NaN
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,R,5527.0,A,NaN,A,NaN,A,NaN,A,NaN
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,R,41726.0,R,42688.0,R,43131.0,A,NaN,A,NaN
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,R,44011.0,R,42934.0,R,44338.0,A,NaN,A,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Student Financial Aid and Net Price (Military Servicemembers and Veteran's Benefits)

In [49]:
result_sfav=pd.merge(result_sfa,sfav_df,on='UNITID',how='left')

12- Month Enrollment (12-month unduplicated headcount)

In [50]:
LSTUDY=999
if (int(EFALEVEL)==3 or int(EFALEVEL)==5):
    EFALEVEL=4
    LSTUDY=3
elif(int(EFALEVEL)==2):
    LSTUDY=1

In [51]:
# effy_df=effy_df[(effy_df["EFFYLEV"]==int(EFALEVEL)& (effy_df["LSTUDY_2014"]==LSTUDY))]
effy_df=effy_df[(effy_df["EFFYLEV"]==int(EFALEVEL))]

In [52]:
effy_df

,Unnamed: 0,UNITID,EFFYLEV,LSTUDY_2014,XEYTOTLT_2014,EFYTOTLT_2014,XEYTOTLM_2014,EFYTOTLM_2014,XEYTOTLW_2014,EFYTOTLW_2014,...,XEYUNKNM_2018,EFYUNKNM_2018,XEYUNKNW_2018,EFYUNKNW_2018,XEYNRALT_2018,EFYNRALT_2018,XEYNRALM_2018,EFYNRALM_2018,XEYNRALW_2018,EFYNRALW_2018
1,1,100654,2,1.0,R,4407.0,R,2152.0,R,2255.0,...,R,70.0,R,124.0,R,53.0,R,26.0,R,27.0
4,4,100663,2,1.0,R,13107.0,R,5462.0,R,7645.0,...,R,57.0,R,67.0,R,403.0,R,249.0,R,154.0
7,7,100690,2,1.0,R,503.0,R,200.0,R,303.0,...,R,5.0,R,6.0,Z,0.0,Z,0.0,Z,0.0
10,10,100706,2,1.0,R,6596.0,R,3684.0,R,2912.0,...,R,138.0,R,112.0,R,208.0,R,141.0,R,67.0
13,13,100724,2,1.0,R,6124.0,R,2551.0,R,3573.0,...,R,19.0,R,32.0,R,50.0,R,29.0,R,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17813,17813,493150,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z,0.0,R,2.0,Z,0.0,Z,0.0,Z,0.0
17815,17815,493363,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,9.0,R,4.0,R,8.0,R,7.0,R,1.0
17818,17818,493372,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z,0.0,R,1.0,Z,0.0,Z,0.0,Z,0.0
17820,17820,493424,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
17822,17822,493451,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0

In [53]:
result_effy=pd.merge(result_sfav,effy_df,on='UNITID',how='left')

In [54]:
result_effy

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,XEYUNKNM_2018,EFYUNKNM_2018,XEYUNKNW_2018,EFYUNKNW_2018,XEYNRALT_2018,EFYNRALT_2018,XEYNRALM_2018,EFYNRALM_2018,XEYNRALW_2018,EFYNRALW_2018
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,R,35.0,R,65.0,R,331.0,R,184.0,R,147.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,R,1.0,R,17.0,Z,0.0,Z,0.0,Z,0.0
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,R,166.0,R,168.0,R,3478.0,R,1610.0,R,1868.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,1040.0,R,1359.0,R,5443.0,R,2374.0,R,3069.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,R,1040.0,R,1359.0,R,5443.0,R,2374.0,R,3069.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,R,244.0,R,278.0,R,1807.0,R,931.0,R,876.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,R,56.0,R,166.0,R,297.0,R,126.0,R,171.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,R,76.0,R,89.0,R,184.0,R,108.0,R,76.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,2.0,R,3.0,R,1043.0,R,474.0,R,569.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,R,2.0,R,3.0,R,1043.0,R,474.0,R,569.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,R,1.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,R,8.0,R,2.0,R,0.0,R,0.0,R,0.0
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,R,1.0,R,8.0,R,0.0,R,0.0,R,0.0
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,R,57.0,R,113.0,R,0.0,R,0.0,R,0.0
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,R,3.0,R,4.0,Z,0.0,Z,0.0,Z,0.0

12-month enrollment data (12-month instructional activity)

In [55]:
result_efia=pd.merge(result_effy,efia_df,on='UNITID',how='left')

In [56]:
result_efia

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,EFTEUG_2017,XEFTEGD_2017,EFTEGD_2017,XFTEUG_2017,FTEUG_2017,XFTEGD_2017,FTEGD_2017,XFTEDPP_2017,FTEDPP_2017,ACTTYPE _2017
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,3311.0,G,2509.0,G,3311.0,G,2509.0,R,1351.0,2.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,368.0,A,NaN,G,368.0,A,NaN,A,NaN,3.0
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,37254.0,G,7518.0,G,37254.0,G,7518.0,R,1335.0,2.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,515.0,A,NaN,G,515.0,A,NaN,A,NaN,2.0
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,45399.0,A,NaN,G,45399.0,A,NaN,A,NaN,3.0
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,45399.0,A,NaN,G,45399.0,A,NaN,A,NaN,3.0
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,10705.0,G,3300.0,G,10705.0,R,4406.0,R,2040.0,2.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,3987.0,G,9375.0,G,3987.0,G,9375.0,R,4713.0,2.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,1510.0,G,1156.0,G,1510.0,G,1156.0,R,624.0,2.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,5127.0,G,137.0,G,5127.0,G,137.0,A,NaN,2.0
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,5127.0,G,137.0,G,5127.0,G,137.0,A,NaN,2.0
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,224.0,A,NaN,G,224.0,A,NaN,A,NaN,2.0
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,24.0,A,NaN,G,24.0,A,NaN,A,NaN,1.0
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,263.0,A,NaN,G,263.0,A,NaN,A,NaN,3.0
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,124.0,A,NaN,G,124.0,A,NaN,A,NaN,2.0
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,521.0,A,NaN,G,521.0,A,NaN,A,NaN,2.0
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,1260.0,G,261.0,G,1260.0,G,261.0,A,NaN,2.0
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,1260.0,G,261.0,G,1260.0,G,261.0,A,NaN,2.0
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,112.0,A,NaN,G,112.0,A,NaN,A,NaN,2.0
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,316.0,A,NaN,G,316.0,A,NaN,A,NaN,3.0
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,549.0,A,NaN,G,549.0,A,NaN,A,NaN,2.0
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,774.0,A,NaN,G,774.0,A,NaN,A,NaN,2.0
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,418.0,A,NaN,G,418.0,A,NaN,A,NaN,2.0

Admission and test Score

In [57]:
result_at=pd.merge(result_efia,at_df,on='UNITID',how='left')

In [58]:
result_at

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,XACTCM75_2016,ACTCM75_2016,XACTEN25_2016,ACTEN25_2016,XACTEN75_2016,ACTEN75_2016,XACTMT25_2016,ACTMT25_2016,XACTMT75_2016,ACTMT75 _2016
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,R,21.0,R,16.0,R,22.0,R,16.0,R,21.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,R,27.0,R,22.0,R,27.0,R,22.0,R,26.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,R,32.0,R,28.0,R,34.0,R,26.0,R,31.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,R,28.0,R,22.0,R,29.0,R,22.0,R,28.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,R,21.0,R,18.0,R,22.0,R,16.0,R,22.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,A,NaN,A,NaN,A,NaN,A,NaN,A,NaN
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
result_at=result_at.loc[:,~result_at.columns.str.startswith('X')]
result_at=result_at.loc[:,~result_at.columns.str.startswith('Unnamed')]

In [60]:
result_at

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,SATVR25_2016,SATVR75_2016,SATMT25_2016,SATMT75_2016,ACTCM25_2016,ACTCM75_2016,ACTEN25_2016,ACTEN75_2016,ACTMT25_2016,ACTMT75 _2016
0,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,430.0,510.0,420.0,500.0,18.0,21.0,16.0,22.0,16.0,21.0
1,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,520.0,610.0,510.0,600.0,23.0,27.0,22.0,27.0,22.0,26.0
3,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,600.0,680.0,610.0,710.0,28.0,32.0,28.0,34.0,26.0,31.0
7,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,500.0,610.0,500.0,610.0,22.0,28.0,22.0,29.0,22.0,28.0
8,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,420.0,520.0,420.0,530.0,17.0,21.0,18.0,22.0,16.0,22.0
9,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Final File

In [61]:
result_at.to_csv(path_to_processed_files+"Final_combined_output_485272.csv",index=False)