# Find Similar Institution based on Carnegie Classification within 100 miles in long Beach offering Bachelorâ€™s Degree in Nursing.

### Import Modules

In [1]:
import pandas as pd
from math import radians, sin, cos, asin, sqrt
import os

In [2]:
os.chdir('../')

### Institiustional Characteristics File

In [3]:
IC_df=pd.read_csv("1. Raw Data/Institutional Characteristics/hd2017.csv",encoding='latin-1')

### Completion files <br>(File A :Awards/degrees conferred by program (6-digit CIP code), award level, race/ethnicity, and gender)<br><br> (File C:Number of students receiving awards/degrees, by award level and by gender, race/ethnicity and age categories)

In [4]:
path_to_processed_files="2. Processed data/"

In [5]:
comp_a_df=pd.read_csv(path_to_processed_files+"completion_a_output.csv",index_col=None,low_memory=False)

In [6]:
comp_c_df=pd.read_csv(path_to_processed_files+"completion_c_output.csv",index_col=None,low_memory=False)

 ### Financial Aid and Net Price<br> (File SFA:Student financial aid and net price)<br><br>(File SFAV: Military Servicemembers and Veteran's Benefits)

In [7]:
sfa_df=pd.read_csv(path_to_processed_files+"StudentFinancialnet_sfa_output.csv", low_memory=False)

In [8]:
sfav_df=pd.read_csv(path_to_processed_files+"StudentFinancialnet_sfav_output.csv", low_memory=False)

### Fall Enrollment <br>(File A: Race/ethnicity, gender, attendance status, and level of student)<br>(File B: Age category, gender, attendance status, and level of student)<br>(File D: Total entering class, retention rates, and student-to-faculty ratio)

In [9]:
FE_a_df=pd.read_csv(path_to_processed_files+"FallEnrollment_a_output.csv",low_memory=False)

In [10]:
FE_b_df=pd.read_csv(path_to_processed_files+"FallEnrollment_b_output.csv",low_memory=False)

In [11]:
FE_d_df=pd.read_csv(path_to_processed_files+"FallEnrollment_d_output.csv",low_memory=False)

### Admissions and Test Scores<br>(Admission considerations, applications, admissions, enrollees and test scores)

In [12]:
at_df=pd.read_csv(path_to_processed_files+"Admission&testscore_output.csv")

### 12-month enrollment data<br>(File EFFY :12-month unduplicated headcount)<br>(File EFIA:12-month instructional activity)

In [13]:
effy_df=pd.read_csv(path_to_processed_files+"EFFY_output.csv")

In [14]:
efia_df=pd.read_csv(path_to_processed_files+"EFIA_output.csv")

# Input user Preferances

In [15]:
awlevel={"Associate's degree":3,
"Bachelor's degree":5,
"Master's degree":7,
"Doctor's degree - research/scholarship":17,
"Doctor's degree - professional practice":18,
"Doctor's degree - other":19,
"Award of less than 1 academic year":1,
"Award of at least 1 but less than 2 academic years":2,
"Award of at least 2 but less than 4 academic years":4,
"Postbaccalaureate certificate":6,
"Post-master's certificate":8,
}

In [16]:
for key,value in awlevel.items():
    print("Degree :{} and award Number :{}".format(key,value))

Degree :Associate's degree and award Number :3
Degree :Bachelor's degree and award Number :5
Degree :Master's degree and award Number :7
Degree :Doctor's degree - research/scholarship and award Number :17
Degree :Doctor's degree - professional practice and award Number :18
Degree :Doctor's degree - other and award Number :19
Degree :Award of less than 1 academic year and award Number :1
Degree :Award of at least 1 but less than 2 academic years and award Number :2
Degree :Award of at least 2 but less than 4 academic years and award Number :4
Degree :Postbaccalaureate certificate and award Number :6
Degree :Post-master's certificate and award Number :8

In [ ]:
# Enter 5 for test
# input_a=input("Select the award level/Degree:\n")

In [17]:
CIPCODE=51.3801
# AWLEVEL=int(input_a)

## awlevel and Cipcode filter from completion File A

In [18]:
unit_df=comp_a_df[(comp_a_df['AWLEVEL']==3) & (comp_a_df['CIPCODE']==CIPCODE)|(comp_a_df['AWLEVEL']==4) & (comp_a_df['CIPCODE']==CIPCODE)|(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]

### Only BAch-5

In [18]:
unit_df=comp_a_df[(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]

In [19]:
unit_df=unit_df['UNITID'].unique()

In [20]:
uni_list=IC_df.loc[IC_df['UNITID'].isin(list(unit_df))]

In [21]:
uni_list[['INSTNM','UNITID']]

                                        INSTNM  UNITID
1          University of Alabama at Birmingham  100663
3          University of Alabama in Huntsville  100706
6                    The University of Alabama  100751
9              Auburn University at Montgomery  100830
10                           Auburn University  100858
...                                        ...     ...
7099               Kaplan University-St. Louis  490771
7101               Purdue University Northwest  490805
7122  National American University-Garden City  491093
7123    National American University-Watertown  491109
7138    University of Wisconsin-Milwaukee Flex  491288

[1138 rows x 2 columns]

In [22]:
# Enter 110583(CSULB for testing) for 
uni_input=input("Input the universtity UNITID\n")

Input the universtity UNITID
477039

In [23]:
final_uni=IC_df[IC_df['UNITID']==int(uni_input)]

In [24]:
long=float(final_uni['LONGITUD'])
lat=float(final_uni['LATITUDE'])

In [25]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 3958.756 * asin(sqrt(a))

In [26]:
uni_list

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,109,1
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,112,2
6,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0166,1,5,Dr. Stuart R. Bell,...,1,-2,-2,1125,Tuscaloosa County,107,-87.545978,33.211875,111,1
9,100830,Auburn University at Montgomery,AUM|Auburn University Montgomery|Auburn Univer...,7440 East Drive,Montgomery,AL,36117-3596,1,5,Carl A Stockton,...,1,-2,-2,1101,Montgomery County,102,-86.177544,32.367360,122,1
10,100858,Auburn University,,,Auburn,AL,36849,1,5,Steven Leath,...,1,194,-2,1081,Lee County,103,-85.488258,32.599378,111,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7099,490771,Kaplan University-St. Louis,,1807 Park 270 Drive Suite 105,St. Louis,MO,63146-4021,29,4,Suzanne Marshall-Caby,...,1,476,-2,29189,St. Louis County,2902,-90.449121,38.690763,219,2
7101,490805,Purdue University Northwest,Purdue Northwest,2200 169th Street,Hammond,IN,46323,18,3,Thomas L. Keon,...,1,176,-2,18089,Lake County,1801,-87.474236,41.584324,119,1
7122,491093,National American University-Garden City,,801 Campus Drive,Garden City,KS,67846-6333,20,4,Dr. Ronald Shape,...,2,-2,-2,20055,Finney County,2001,-100.849205,37.970526,222,2
7123,491109,National American University-Watertown,,925 29th Street S.E.,Watertown,SD,57201-9123,46,4,Dr. Ronald Shape,...,2,-2,-2,46029,Codington County,4600,-97.069586,44.889215,222,2
7138,491288,University of Wisconsin-Milwaukee Flex,,2200 E Kenwood Blvd,Milwaukee,WI,53201,55,3,Mark Mone,...,1,376,-2,55079,Milwaukee County,5504,-87.880488,43.076848,159,2

In [27]:
uni_list['distance (in miles)']=uni_list.apply(lambda x: haversine(long,lat,x['LONGITUD'],x['LATITUDE']),axis=1)

C:\Users\saumy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Final Datafile within the range

In [28]:
final_df=uni_list[uni_list['distance (in miles)']<=20]

In [29]:
final_df

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,distance (in miles)
3676,228769,The University of Texas at Arlington,UT Arlington,701 S. Nedderman Dr.,Arlington,TX,76013,48,6,Dr. Vistasp M. Karbhari,...,206,-2,48439,Tarrant County,4806,-97.112960,32.729718,107,1,15.447305
5043,437732,Dallas Nursing Institute,,12170 N. Abrams Road Suite 200,Dallas,TX,75243,48,6,Charlita Shelton,...,206,-2,48113,Dallas County,4832,-96.734878,32.913800,177,2,10.029217
5211,442222,Argosy University-Dallas,,"5001 Lyndon B. Johnson Freeway, Heritage Squar...",Farmers Branch,TX,75244,48,6,"Brian McAulay, PhD",...,206,-2,48113,Dallas County,4824,-96.823294,32.928188,175,1,7.551632
6454,477039,West Coast University-Dallas,,8435 North Stemmons Freeway,Dallas,TX,75247-3900,48,6,Jeb Egbert,...,206,-2,48113,Dallas County,4833,-96.873805,32.827460,175,2,0.000000

In [30]:
final_df.to_csv(path_to_processed_files+"Final_Combined_485272.csv",index=False)

In [31]:
com_a_list_col=comp_a_df.filter(regex="MAJORNUM")

In [32]:
comp_a_df=comp_a_df.drop(["Unnamed: 0"],axis=1)

In [33]:
comp_a_df

,UNITID,CIPCODE,AWLEVEL,XCTOTALT_2018,CTOTALT_2018,XCTOTALM_2018,CTOTALM_2018,XCTOTALW_2018,CTOTALW_2018,XCAIANT_2018,...,XCUNKNM_2017,CUNKNM_2017,XCUNKNW_2017,CUNKNW_2017,XCNRALT_2017,CNRALT_2017,XCNRALM_2017,CNRALM_2017,XCNRALW_2017,CNRALW _2017
0,100654,1.0999,5,R,5.0,Z,0.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
1,100654,1.1001,5,R,9.0,R,2.0,R,7.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
2,100654,1.1001,7,R,5.0,R,1.0,R,4.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
3,100654,1.1001,17,R,1.0,R,1.0,Z,0.0,Z,...,Z,0.0,Z,0.0,R,1.0,R,1.0,Z,0.0
4,100654,1.9999,5,R,6.0,R,1.0,R,5.0,Z,...,Z,0.0,Z,0.0,Z,0.0,Z,0.0,Z,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316998,491242,12.0402,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
316999,491242,12.0407,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317000,491242,99.0000,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,1.0,R,0.0,R,0.0,R,0.0
317001,491297,52.1899,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0
317002,491297,52.1899,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,0.0,R,0.0,R,0.0,R,0.0,R,0.0

In [34]:
comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['AWLEVEL']==3)|(comp_a_df['AWLEVEL']==4) & (comp_a_df['CIPCODE']==CIPCODE)|(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]
# comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['MAJORNUM_2017']==1) & (comp_a_df['AWLEVEL']==AWLEVEL)]

In [ ]:
comp_a_df=comp_a_df[(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]

## Merge all files with result Universities

Completion A

In [ ]:
result_comp_a=pd.merge(final_df,comp_a_df, on='UNITID',how='left')

In [ ]:
result_comp_a

Completion C

In [ ]:
comp_c_df=comp_c_df[(comp_c_df['AWLEVELC']==3)|(comp_c_df['AWLEVELC']==4)|(comp_c_df['AWLEVELC']==5)]

In [ ]:
result_comp_c=pd.merge(result_comp_a,comp_c_df, on='UNITID',how='left')
result_comp_c=result_comp_c.loc[:,~result_comp_c.columns.str.startswith('X')]

In [ ]:
result_comp_c

Fall Enrollment A

In [ ]:
# Enter 2 for undergraduate Total
EFALEVEL=input("Input the Level of Record you want fo fall\n Enter 1 for All total Students\nEnter 2 for All Students, Undergraduate total\nEnter 3 for All gradute Students\n ")

In [ ]:
# result.rename(columns = {'CTOTALT':'Grand total','CTOTALM':'Grand total men','CTOTALW':'Grand total women',
#                           'CAIANT':'American Indian or Alaska Native total','CASIAT':'Asian total',
#                           'CBKAAT':'Black or African American total','CHISPT':'Hispanic or Latino total',
#                           'CNHPIT':'Native Hawaiian or Other Pacific Islander total','CWHITT':'White total',
#                           'C2MORT':'Two or more races total','CUNKNT':'Race/ethnicity unknown total',
#                           'CNRALT':'Nonresident alien total'}, inplace = True)

In [ ]:
# result=result.loc[:,~result.columns.str.startswith('X')]
# result=result.drop(columns=['CNRALM','CUNKNW','CUNKNM','C2MORW','CWHITM','CWHITW',
#                             'C2MORM','CNHPIW','CNHPIM','CHISPW','CHISPM',
#                             'CBKAAW','CBKAAM','CASIAW','CASIAM','CAIANW','CAIANM','CNRALW  '],axis=1)

In [ ]:
FE_a_df=FE_a_df[(FE_a_df['EFALEVEL']==int(EFALEVEL))]
result_fallenroll_a=pd.merge(result_comp_c,FE_a_df,on='UNITID',how='left')

In [ ]:
result_fallenroll_a

Fall Enrollment B

In [ ]:
result_fallenroll_b=pd.merge(result_fallenroll_a,FE_b_df,on='UNITID',how='left')

In [ ]:
result_fallenroll_b

Fall Enrollment D

In [ ]:
result_fallenroll_d=pd.merge(result_fallenroll_b,FE_d_df,on='UNITID',how='left')

In [ ]:
result_fallenroll_d

Student Financial  Aid and Net Price (Student financial aid and net price)

In [ ]:
result_sfa=pd.merge(result_fallenroll_d,sfa_df,on='UNITID',how='left')

In [ ]:
result_sfa

Student Financial Aid and Net Price (Military Servicemembers and Veteran's Benefits)

In [ ]:
result_sfav=pd.merge(result_sfa,sfav_df,on='UNITID',how='left')

12- Month Enrollment (12-month unduplicated headcount)

In [ ]:
LSTUDY=999
if (int(EFALEVEL)==3 or int(EFALEVEL)==5):
    EFALEVEL=4
    LSTUDY=3
elif(int(EFALEVEL)==2):
    LSTUDY=1

In [ ]:
# effy_df=effy_df[(effy_df["EFFYLEV"]==int(EFALEVEL)& (effy_df["LSTUDY_2014"]==LSTUDY))]
effy_df=effy_df[(effy_df["EFFYLEV"]==int(EFALEVEL))]

In [ ]:
effy_df

In [ ]:
result_effy=pd.merge(result_sfav,effy_df,on='UNITID',how='left')

In [ ]:
result_effy

12-month enrollment data (12-month instructional activity)

In [ ]:
result_efia=pd.merge(result_effy,efia_df,on='UNITID',how='left')

In [ ]:
result_efia

Admission and test Score

In [ ]:
result_at=pd.merge(result_efia,at_df,on='UNITID',how='left')

In [ ]:
result_at

In [ ]:
result_at=result_at.loc[:,~result_at.columns.str.startswith('X')]
result_at=result_at.loc[:,~result_at.columns.str.startswith('Unnamed')]

In [ ]:
result_at

### Final File

In [ ]:
result_at.to_csv(path_to_processed_files+"Final_combined_output_477039.csv",index=False)