# Find Similar Institution based on Carnegie Classification within 100 miles in long Beach offering Bachelor’s Degree in Nursing.

### Import Modules

In [1]:
import pandas as pd
import os
from math import radians, sin, cos, asin, sqrt

In [2]:
os.chdir('../')

### Institiustional Characteristics File

In [3]:
IC_df=pd.read_csv("1. Raw Data/Institutional Characteristics/hd2017.csv",encoding='latin-1')

### Completion files <br>(File A :Awards/degrees conferred by program (6-digit CIP code), award level, race/ethnicity, and gender)<br><br> (File C:Number of students receiving awards/degrees, by award level and by gender, race/ethnicity and age categories)

In [4]:
path_to_processed_files="2. Processed data/"

In [5]:
comp_a_df=pd.read_csv(path_to_processed_files+"completion_a_output.csv",index_col=None,low_memory=False)

In [6]:
comp_c_df=pd.read_csv(path_to_processed_files+"completion_c_output.csv",index_col=None,low_memory=False)

# Input user Preferances

In [ ]:
# 3,1,2,4,5

In [7]:
awlevel={"Associate's degree":3,
"Bachelor's degree":5,
"Master's degree":7,
"Doctor's degree - research/scholarship":17,
"Doctor's degree - professional practice":18,
"Doctor's degree - other":19,
"Award of less than 1 academic year":1,
"Award of at least 1 but less than 2 academic years":2,
"Award of at least 2 but less than 4 academic years":4,
"Postbaccalaureate certificate":6,
"Post-master's certificate":8,
}

In [8]:
for key,value in awlevel.items():
    print("Degree :{} and award Number :{}".format(key,value))

Degree :Associate's degree and award Number :3
Degree :Bachelor's degree and award Number :5
Degree :Master's degree and award Number :7
Degree :Doctor's degree - research/scholarship and award Number :17
Degree :Doctor's degree - professional practice and award Number :18
Degree :Doctor's degree - other and award Number :19
Degree :Award of less than 1 academic year and award Number :1
Degree :Award of at least 1 but less than 2 academic years and award Number :2
Degree :Award of at least 2 but less than 4 academic years and award Number :4
Degree :Postbaccalaureate certificate and award Number :6
Degree :Post-master's certificate and award Number :8

In [9]:
# input_a=input("Enter the Award Level:")
CIPCODE=51.3801
# AWLEVEL=int(input_a)

In [ ]:
# type(AWLEVEL)
#AWLEVEL
#(type(CIPCODE))

## awlevel and Cipcode filter from completion File A

In [10]:
unit_df=comp_a_df[(comp_a_df['AWLEVEL']==3) & (comp_a_df['CIPCODE']==CIPCODE)|(comp_a_df['AWLEVEL']==5) & (comp_a_df['CIPCODE']==CIPCODE)]

In [11]:
unit_df=unit_df['UNITID'].unique()

In [12]:
uni_list=IC_df.loc[IC_df['UNITID'].isin(list(unit_df))]

In [13]:
uni_list

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,109,1
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,112,2
6,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0166,1,5,Dr. Stuart R. Bell,...,1,-2,-2,1125,Tuscaloosa County,107,-87.545978,33.211875,111,1
7,100760,Central Alabama Community College,,1675 Cherokee Rd,Alexander City,AL,35010,1,5,Dr. Susan Burrow,...,2,142,-2,1123,Tallapoosa County,103,-85.945266,32.924780,74,2
9,100830,Auburn University at Montgomery,AUM|Auburn University Montgomery|Auburn Univer...,7440 East Drive,Montgomery,AL,36117-3596,1,5,Carl A Stockton,...,1,-2,-2,1101,Montgomery County,102,-86.177544,32.367360,122,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,491093,National American University-Garden City,,801 Campus Drive,Garden City,KS,67846-6333,20,4,Dr. Ronald Shape,...,2,-2,-2,20055,Finney County,2001,-100.849205,37.970526,222,2
7123,491109,National American University-Watertown,,925 29th Street S.E.,Watertown,SD,57201-9123,46,4,Dr. Ronald Shape,...,2,-2,-2,46029,Codington County,4600,-97.069586,44.889215,222,2
7124,491118,National American University-Career Point Coll...,,4522 Fredericksburg Road,San Antonio,TX,78201-6549,48,6,Dr. Ronald Shape,...,1,-2,-2,48029,Bexar County,4820,-98.551158,29.493372,218,2
7131,491181,Galen College of Nursing-ARH,,100 Airport Gardens Drive,Hazard,KY,41701-9519,21,5,Dr. Connie Cooper,...,-2,-2,-2,21193,Perry County,2105,-83.205298,37.285896,246,2
7138,491288,University of Wisconsin-Milwaukee Flex,,2200 E Kenwood Blvd,Milwaukee,WI,53201,55,3,Mark Mone,...,1,376,-2,55079,Milwaukee County,5504,-87.880488,43.076848,159,2

In [14]:
uni_input=input("Input the universtity UNITID\n")

Input the universtity UNITID
485272

In [15]:
final_uni=IC_df[IC_df['UNITID']==int(uni_input)]

In [16]:
long=float(final_uni['LONGITUD'])
lat=float(final_uni['LATITUDE'])

In [17]:
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 3958.756 * asin(sqrt(a))

In [18]:
uni_list

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CBSATYPE,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,1,142,-2,1073,Jefferson County,107,-86.799345,33.505697,109,1
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,1,290,-2,1089,Madison County,105,-86.640449,34.724557,112,2
6,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0166,1,5,Dr. Stuart R. Bell,...,1,-2,-2,1125,Tuscaloosa County,107,-87.545978,33.211875,111,1
7,100760,Central Alabama Community College,,1675 Cherokee Rd,Alexander City,AL,35010,1,5,Dr. Susan Burrow,...,2,142,-2,1123,Tallapoosa County,103,-85.945266,32.924780,74,2
9,100830,Auburn University at Montgomery,AUM|Auburn University Montgomery|Auburn Univer...,7440 East Drive,Montgomery,AL,36117-3596,1,5,Carl A Stockton,...,1,-2,-2,1101,Montgomery County,102,-86.177544,32.367360,122,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,491093,National American University-Garden City,,801 Campus Drive,Garden City,KS,67846-6333,20,4,Dr. Ronald Shape,...,2,-2,-2,20055,Finney County,2001,-100.849205,37.970526,222,2
7123,491109,National American University-Watertown,,925 29th Street S.E.,Watertown,SD,57201-9123,46,4,Dr. Ronald Shape,...,2,-2,-2,46029,Codington County,4600,-97.069586,44.889215,222,2
7124,491118,National American University-Career Point Coll...,,4522 Fredericksburg Road,San Antonio,TX,78201-6549,48,6,Dr. Ronald Shape,...,1,-2,-2,48029,Bexar County,4820,-98.551158,29.493372,218,2
7131,491181,Galen College of Nursing-ARH,,100 Airport Gardens Drive,Hazard,KY,41701-9519,21,5,Dr. Connie Cooper,...,-2,-2,-2,21193,Perry County,2105,-83.205298,37.285896,246,2
7138,491288,University of Wisconsin-Milwaukee Flex,,2200 E Kenwood Blvd,Milwaukee,WI,53201,55,3,Mark Mone,...,1,376,-2,55079,Milwaukee County,5504,-87.880488,43.076848,159,2

In [19]:
uni_list['distance (in miles)']=uni_list.apply(lambda x: haversine(long,lat,x['LONGITUD'],x['LATITUDE']),axis=1)

C:\Users\saumy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
uni_list

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,distance (in miles)
1,100663,University of Alabama at Birmingham,,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,1,5,Ray L. Watts,...,142,-2,1073,Jefferson County,107,-86.799345,33.505697,109,1,657.454646
3,100706,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,301 Sparkman Dr,Huntsville,AL,35899,1,5,Robert A. Altenkirch,...,290,-2,1089,Madison County,105,-86.640449,34.724557,112,2,720.916447
6,100751,The University of Alabama,,739 University Blvd,Tuscaloosa,AL,35487-0166,1,5,Dr. Stuart R. Bell,...,-2,-2,1125,Tuscaloosa County,107,-87.545978,33.211875,111,1,669.529507
7,100760,Central Alabama Community College,,1675 Cherokee Rd,Alexander City,AL,35010,1,5,Dr. Susan Burrow,...,142,-2,1123,Tallapoosa County,103,-85.945266,32.924780,74,2,595.740114
9,100830,Auburn University at Montgomery,AUM|Auburn University Montgomery|Auburn Univer...,7440 East Drive,Montgomery,AL,36117-3596,1,5,Carl A Stockton,...,-2,-2,1101,Montgomery County,102,-86.177544,32.367360,122,1,573.449816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7122,491093,National American University-Garden City,,801 Campus Drive,Garden City,KS,67846-6333,20,4,Dr. Ronald Shape,...,-2,-2,20055,Finney County,2001,-100.849205,37.970526,222,2,1461.592554
7123,491109,National American University-Watertown,,925 29th Street S.E.,Watertown,SD,57201-9123,46,4,Dr. Ronald Shape,...,-2,-2,46029,Codington County,4600,-97.069586,44.889215,222,2,1613.329198
7124,491118,National American University-Career Point Coll...,,4522 Fredericksburg Road,San Antonio,TX,78201-6549,48,6,Dr. Ronald Shape,...,-2,-2,48029,Bexar County,4820,-98.551158,29.493372,218,2,1141.438719
7131,491181,Galen College of Nursing-ARH,,100 Airport Gardens Drive,Hazard,KY,41701-9519,21,5,Dr. Connie Cooper,...,-2,-2,21193,Perry County,2105,-83.205298,37.285896,246,2,810.390905
7138,491288,University of Wisconsin-Milwaukee Flex,,2200 E Kenwood Blvd,Milwaukee,WI,53201,55,3,Mark Mone,...,376,-2,55079,Milwaukee County,5504,-87.880488,43.076848,159,2,1266.473636

In [21]:
final_df=uni_list[uni_list['distance (in miles)']<=20]

In [22]:
final_df

,UNITID,INSTNM,IALIAS,ADDR,CITY,STABBR,ZIP,FIPS,OBEREG,CHFNM,...,CSA,NECTA,COUNTYCD,COUNTYNM,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG,distance (in miles)
700,132471,Barry University,,11300 NE 2nd Ave,Miami,FL,33161-6695,12,5,"Sister Linda Bevilacqua, OP, PhD",...,370,-2,12086,Miami-Dade County,1224,-80.198925,25.878908,115,1,10.379378
725,133854,Concorde Career Institute-Miramar,,10933 Marks Way,Miramar,FL,33025,12,5,Matthew Diacont,...,370,-2,12011,Broward County,1220,-80.291516,25.977088,200,1,12.013463
730,133951,Florida International University,FIU,11200 S. W. 8 Street,Miami,FL,33199,12,5,Mark Rosenberg,...,370,-2,12086,Miami-Dade County,1226,-80.373928,25.757320,107,1,4.034913
733,133997,Florida Career College-Miami,,"1321 SW 107 Avenue, Suite 201B",Miami,FL,33174,12,5,Fardad Fateri,...,370,-2,12086,Miami-Dade County,1226,-80.367780,25.756567,106,2,3.944969
773,135717,Miami Dade College,MDC|MDCC|Miami-Dade Community College|Miami Dade,300 NE 2nd Avenue,Miami,FL,33132-2204,12,5,Eduardo J Padron,...,370,-2,12086,Miami-Dade County,1224,-80.190856,25.777717,208,1,10.016906
774,135726,University of Miami,,University of Miami,Coral Gables,FL,33146,12,5,Dr. Julio Frenk,...,370,-2,12086,Miami-Dade County,1227,-80.278662,25.721260,110,1,7.524966
781,136215,Nova Southeastern University,,3301 College Ave,Fort Lauderdale,FL,33314-7796,12,5,"George L. Hanbury, II",...,370,-2,12011,Broward County,1223,-80.242480,26.079337,113,1,19.676945
811,137476,St Thomas University,St. Thomas University |St Thomas University |S...,16401 NW 37th Ave,Miami Gardens,FL,33054-6459,12,5,Monsignor Franklyn M. Casale,...,370,-2,12086,Miami-Dade County,1224,-80.253273,25.922071,126,1,9.676303
4637,408844,Florida National University-Main Campus,,4425 West. Jose Regueiro (20th) Avenue,Hialeah,FL,33012,12,5,Dr. Maria Cristina Regueiro,...,370,-2,12086,Miami-Dade County,1225,-80.321846,25.861780,215,2,3.876360
4640,409069,ITT Technical Institute-Fort Lauderdale,,3401 S University Dr,Fort Lauderdale,FL,33328,12,5,,...,370,-2,12011,Broward County,1223,-80.252324,26.078932,-2,-2,19.455736
4895,430263,ITT Technical Institute-Hialeah,,"5901 NW 183rd Street, Suite 100",Hialeah,FL,33015,12,5,,...,370,-2,12086,Miami-Dade County,1224,-80.296001,25.940180,-2,-2,9.504316
4987,434539,City College-Miami,,"9300 S Dadeland Blvd., 2nd Floor",Miami,FL,33156,12,5,Armando Rios,...,370,-2,12086,Miami-Dade County,1227,-80.316377,25.683673,214,2,8.990605
5314,444334,Advance Science College,,3750 W 12 Ave,Hialeah,FL,33012,12,5,Pablo J. Perez,...,370,-2,12086,Miami-Dade County,1225,-80.307736,25.855863,246,2,3.986799
5428,446589,Universal Career School,"Universal Beauty School,Inc./DBA Universal Car...",10720 W Flagler School Ste 21,Sweetwater,FL,33174,12,5,Blanca Burgos,...,370,-2,12086,Miami-Dade County,1225,-80.370117,25.767091,244,2,3.322094
5459,447290,Brown Mackie College-Miami,,3700 Lakeside Drive,Miramar,FL,33027-3264,12,5,Connie Adelman,...,370,-2,12011,Broward County,1220,-80.350723,25.973847,216,2,11.273295
5581,449506,SABER College,,"3990 W Flagler St., Ste 103",Miami,FL,33134,12,5,Josefina B. Habif,...,370,-2,12086,Miami-Dade County,1227,-80.261299,25.771518,196,2,6.015922
5672,451103,Miami Regional University,,700 S Royal Poinciana Blvd,Miami Springs,FL,33166,12,5,Ophelia Sanchez,...,370,-2,12086,Miami-Dade County,1225,-80.267007,25.810667,174,2,5.016090
6079,459310,Future-Tech Institute,FTI,3446 SW 8th St Suite 218,Miami,FL,33135-4142,12,5,Ana G. Moncada,...,370,-2,12086,Miami-Dade County,1227,-80.251401,25.764600,18,2,6.782735
6394,475714,American Medical Academy,,12215 SW 112 Street,Miami,FL,33186-4830,12,5,EDUARDO GUTIERREZ,...,370,-2,12086,Miami-Dade County,1226,-80.393361,25.662730,200,2,10.612857
6780,485272,West Coast University-Miami,,9250 NW 36th Street,Doral,FL,33178-2431,12,5,Jeb Egbert,...,370,-2,12086,Miami-Dade County,1225,-80.347651,25.810710,222,2,0.000000
6898,487384,Florida Career College,,7891 Pines Boulevard,Pembroke Pines,FL,33024-6916,12,5,Fardad Fateri,...,370,-2,12011,Broward County,1223,-80.246116,26.010968,243,2,15.207454
6906,487463,Florida Career College-Kendall,,11731 Mills Drive,Miami,FL,33183-4810,12,5,,...,370,-2,12086,Miami-Dade County,1227,-80.383298,25.691021,-2,-2,8.562086
7112,490975,Fortis College-Cutler Bay,,19600 South Dixie Highway,Cutler Bay,FL,33157-7693,12,5,Julia Denniston,...,370,-2,12086,Miami-Dade County,1227,-80.363995,25.585653,244,2,15.583195

In [23]:
final_df.to_csv(path_to_processed_files+"Final_combined_output_485272_ADBS.csv")

## Final Datafile within the range

In [ ]:
com_a_list_col=comp_a_df.filter(regex="MAJORNUM")

In [ ]:
comp_a_df=comp_a_df.drop(["Unnamed: 0"],axis=1)

In [ ]:
comp_a_df

In [ ]:
comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['AWLEVEL']==5)]
# comp_a_df=comp_a_df[(comp_a_df['CIPCODE']==CIPCODE) & (comp_a_df['MAJORNUM_2017']==1) & (comp_a_df['AWLEVEL']==AWLEVEL)]

## Merge all files with result Universities

Completion A

In [ ]:
result_comp_a=pd.merge(uni_list,comp_a_df, on='UNITID',how='left')

Completion C

In [ ]:
comp_c_df=comp_c_df[(comp_c_df['AWLEVELC']==3)|(comp_c_df['AWLEVELC']==4)|(comp_c_df['AWLEVELC']==5)]

In [ ]:
comp_c_df=comp_c_df[(comp_c_df['AWLEVELC']==5)]

In [ ]:
result=pd.merge(result,comp_c_df, on='UNITID',how='left')
result=result.loc[:,~result.columns.str.startswith('X')]

In [ ]:
result

In [ ]:
result.to_csv("H:/IR&A Technical Students/Saumya/IPEDS_03/3. output/"+"IC+Completion(5degrees).csv")