In [1]:
import pandas as pd
import os
import folium
from folium.plugins import FastMarkerCluster

In [2]:
os.chdir('../')

In [3]:
df_485272=pd.read_csv("2. Processed data/AnalysisAndFindings_485272_rerun.csv")

In [4]:
df_485272

,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,CTOTALT_2014,...,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,557.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,446.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,407.0,...,22993.0,22271.0,24266.0,26834.0,27321.0,21083.0,22580.0,23400.0,27718.0,26046.0
3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,383.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,260.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,186.0,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,194.0,...,26911.0,18903.0,23046.0,28385.0,37351.0,25202.0,24745.0,30380.0,31921.0,39742.0
8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,103.0,...,17155.0,17161.0,17140.0,NaN,NaN,14702.0,15507.0,16353.0,NaN,NaN
9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,119.0,...,17981.0,17255.0,23647.0,24957.0,31616.0,22047.0,21820.0,25308.0,28944.0,29351.0
10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,84.0,...,31950.0,32277.0,NaN,NaN,NaN,41450.0,41497.0,44494.0,NaN,NaN
13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,169.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,28.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,43.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,55.0,...,25674.0,27824.0,29231.0,29616.0,29832.0,24669.0,28826.0,28493.0,28826.0,28826.0
17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,NaN,...,27652.0,27200.0,28552.0,NaN,NaN,43283.0,43203.0,45566.0,NaN,NaN
18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,0.0,...,35845.0,NaN,NaN,NaN,NaN,32216.0,NaN,NaN,NaN,NaN
19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,NaN,...,19740.0,NaN,NaN,NaN,NaN,19785.0,NaN,NaN,NaN,NaN
21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,48.0,...,20730.0,21796.0,NaN,NaN,NaN,22545.0,23268.0,28208.0,NaN,NaN
24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,40.0,...,18087.0,21211.0,24603.0,24603.0,NaN,16430.0,16454.0,18599.0,22389.0,NaN
27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,NaN,...,28305.0,28452.0,29985.0,32272.0,NaN,46544.0,45941.0,48481.0,50044.0,NaN
28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,NaN,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,4.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,NaN,...,15760.0,18146.0,16797.0,19789.0,19870.0,22957.0,25705.0,27326.0,28380.0,27008.0
33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,NaN,...,21375.0,NaN,NaN,NaN,NaN,20498.0,NaN,NaN,NaN,NaN
34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,0.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,NaN,...,5021.0,NaN,NaN,NaN,NaN,4945.0,NaN,NaN,NaN,NaN

In [5]:
df_aw3=df_485272.loc[df_485272["AWLEVEL"]==3].reset_index()

In [6]:
df_aw3

,index,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,...,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,0,Miami Dade College,3,25.777717,-80.190856,10.016906,531.0,595.0,478.0,490.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Keiser University-Ft Lauderdale,3,26.185869,-80.163959,28.320117,559.0,450.0,464.0,511.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
2,3,Broward College,3,26.119422,-80.141830,24.868305,296.0,303.0,266.0,326.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,Miami Regional University,3,25.810667,-80.267007,5.016090,381.0,305.0,120.0,172.0,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
4,8,SABER College,3,25.771518,-80.261299,6.015922,181.0,174.0,232.0,194.0,...,17155.0,17161.0,17140.0,NaN,NaN,14702.0,15507.0,16353.0,NaN,NaN
5,11,Brown Mackie College-Miami,3,25.973847,-80.350723,11.273295,NaN,6.0,57.0,152.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,12,Florida Career College-Miami,3,25.756567,-80.367780,3.944969,NaN,NaN,NaN,NaN,...,31950.0,32277.0,NaN,NaN,NaN,41450.0,41497.0,44494.0,NaN,NaN
7,13,Florida National University-Main Campus,3,25.861780,-80.321846,3.876360,66.0,39.0,27.0,113.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
8,16,Concorde Career Institute-Miramar,3,25.977088,-80.291516,12.013463,76.0,31.0,15.0,47.0,...,25674.0,27824.0,29231.0,29616.0,29832.0,24669.0,28826.0,28493.0,28826.0,28826.0
9,17,Florida Career College-Lauderdale Lakes,3,26.165740,-80.205267,26.075460,38.0,34.0,55.0,35.0,...,27652.0,27200.0,28552.0,NaN,NaN,43283.0,43203.0,45566.0,NaN,NaN
10,19,Fortis College-Cutler Bay,3,25.585653,-80.363995,15.583195,36.0,36.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20,Universal Career School,3,25.767091,-80.370117,3.322094,67.0,0.0,NaN,NaN,...,19740.0,NaN,NaN,NaN,NaN,19785.0,NaN,NaN,NaN,NaN
12,21,Florida Career College-Kendall,3,25.691021,-80.383298,8.562086,NaN,NaN,27.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,22,ITT Technical Institute-Fort Lauderdale,3,26.078932,-80.252324,19.455736,NaN,NaN,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,23,City College-Fort Lauderdale,3,26.187467,-80.170500,28.260589,NaN,9.0,17.0,24.0,...,20730.0,21796.0,NaN,NaN,NaN,22545.0,23268.0,28208.0,NaN,NaN
15,24,Med-Life Institute-Lauderdale Lakes,3,26.175133,-80.202948,26.734850,70.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,25,ITT Technical Institute-Hialeah,3,25.940180,-80.296001,9.504316,NaN,NaN,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,26,City College-Miami,3,25.683673,-80.316377,8.990605,10.0,6.0,14.0,19.0,...,18087.0,21211.0,24603.0,24603.0,NaN,16430.0,16454.0,18599.0,22389.0,NaN
18,27,Florida Career College,3,26.010968,-80.246116,15.207454,32.0,20.0,15.0,2.0,...,28305.0,28452.0,29985.0,32272.0,NaN,46544.0,45941.0,48481.0,50044.0,NaN
19,29,Orion College,3,26.170050,-80.202496,26.413982,NaN,6.0,25.0,15.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN
20,30,American Medical Academy,3,25.662730,-80.393361,10.612857,15.0,12.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,31,Hope College of Arts and Sciences,3,26.226156,-80.139671,31.475587,6.0,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,33,Advance Science College,3,25.855863,-80.307736,3.986799,0.0,0.0,0.0,NaN,...,21375.0,NaN,NaN,NaN,NaN,20498.0,NaN,NaN,NaN,NaN
23,35,Future-Tech Institute,3,25.764600,-80.251401,6.782735,0.0,NaN,NaN,NaN,...,5021.0,NaN,NaN,NaN,NaN,4945.0,NaN,NaN,NaN,NaN

# Multiple Colleges 
1. Miami Dade College - Hialeah Campus
2. Miami Dade College - Homestead Campus
3. Miami Dade College Kendall Campus
4. Miami Dade College - Medical Campus
5. Miami Dade College - North Campus
6. Miami Dade College - Eduardo J. Padron Campus
7. Miami Dade College - West Campus
8. Miami Dade College - Wolfson Campus
9. Keiser University, US Highway 19 North, Clearwater, FL
10. Keiser University,1800 Business Park Blvd, Daytona Beach, FL 32114
11. Keiser University, 2600 North Military Trail, West Palm Beach, FL 33409
12. Keiser University, 1500 Northwest 49th Street Fort Lauderdale, Florida 33309
13. Keiser University, 9100 Forum Corporate Parkway Fort Myers, FL 33905
14. Keiser University, 6430 Southpoint Pkwy Jacksonville, Florida 32216
15. Keiser University, 2400 Interstate Drive Lakeland, Florida 33805
15. Keiser University, 900 South Babcock Street Melbourne, Florida 32901
15. Keiser University, 2101 NW 117th Ave. Miami, Florida 33172
15. Keiser University, 1336 Innovation Boulevard, Suite 2, Naples, Florida 34108
15. Keiser University,  6014 US Highway 19 North, Suite 250, New Port Richey, Florida 34652
15. Keiser University, 5600 Lake Underhill Road Orlando, Florida 32807
15. Keiser University,
15. Keiser University,

In [7]:
df_aw5=df_485272.loc[df_485272["AWLEVEL"]==5].reset_index()

In [8]:
df_aw5

,index,INSTNM,AWLEVEL,LATITUDE,LONGITUD,distance (in miles),CTOTALT_2018,CTOTALT_2017,CTOTALT_2016,CTOTALT_2015,...,NPT411_1617,NPT421_1617,NPT431_1617,NPT441_1617,NPT451_1617,NPT410_1617,NPT420_1617,NPT430_1617,NPT440_1617,NPT450 _1617
0,2,Nova Southeastern University,5,26.079337,-80.242480,19.676945,411.0,403.0,436.0,349.0,...,22993.0,22271.0,24266.0,26834.0,27321.0,21083.0,22580.0,23400.0,27718.0,26046.0
1,4,Florida International University,5,25.757320,-80.373928,4.034913,348.0,373.0,260.0,301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,Miami Dade College,5,25.777717,-80.190856,10.016906,282.0,311.0,332.0,339.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,University of Miami,5,25.721260,-80.278662,7.524966,174.0,181.0,167.0,171.0,...,26911.0,18903.0,23046.0,28385.0,37351.0,25202.0,24745.0,30380.0,31921.0,39742.0
4,9,Barry University,5,25.878908,-80.198925,10.379378,62.0,122.0,161.0,157.0,...,17981.0,17255.0,23647.0,24957.0,31616.0,22047.0,21820.0,25308.0,28944.0,29351.0
5,10,Broward College,5,26.119422,-80.141830,24.868305,117.0,86.0,97.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14,Florida National University-Main Campus,5,25.861780,-80.321846,3.876360,122.0,118.0,80.0,41.0,...,20274.0,20328.0,23109.0,NaN,NaN,19590.0,19621.0,21938.0,NaN,NaN
7,15,Keiser University-Ft Lauderdale,5,26.185869,-80.163959,28.320117,110.0,79.0,83.0,48.0,...,27386.0,28025.0,29572.0,30820.0,31158.0,28372.0,28893.0,29966.0,30683.0,30922.0
8,18,West Coast University-Miami,5,25.810710,-80.347651,0.000000,130.0,52.0,0.0,0.0,...,35845.0,NaN,NaN,NaN,NaN,32216.0,NaN,NaN,NaN,NaN
9,28,Miami Regional University,5,25.810667,-80.267007,5.016090,29.0,22.0,0.0,0.0,...,21412.0,24877.0,25142.0,NaN,NaN,21287.0,24299.0,24562.0,24562.0,NaN
10,32,St Thomas University,5,25.922071,-80.253273,9.676303,3.0,0.0,0.0,NaN,...,15760.0,18146.0,16797.0,19789.0,19870.0,22957.0,25705.0,27326.0,28380.0,27008.0
11,34,Orion College,5,26.170050,-80.202496,26.413982,NaN,NaN,0.0,0.0,...,18726.0,NaN,NaN,NaN,NaN,17839.0,16850.0,NaN,NaN,NaN

In [9]:
df_aw5[["INSTNM","distance (in miles)","LATITUDE","LONGITUD"]]

,INSTNM,distance (in miles),LATITUDE,LONGITUD
0,Nova Southeastern University,19.676945,26.079337,-80.242480
1,Florida International University,4.034913,25.757320,-80.373928
2,Miami Dade College,10.016906,25.777717,-80.190856
3,University of Miami,7.524966,25.721260,-80.278662
4,Barry University,10.379378,25.878908,-80.198925
5,Broward College,24.868305,26.119422,-80.141830
6,Florida National University-Main Campus,3.876360,25.861780,-80.321846
7,Keiser University-Ft Lauderdale,28.320117,26.185869,-80.163959
8,West Coast University-Miami,0.000000,25.810710,-80.347651
9,Miami Regional University,5.016090,25.810667,-80.267007
10,St Thomas University,9.676303,25.922071,-80.253273
11,Orion College,26.413982,26.170050,-80.202496

In [10]:
latOfOrigin=25.810710
lngOfOrigin= -80.347651

In [11]:
folium_map = folium.Map(location=[latOfOrigin, lngOfOrigin],zoom_start=10)
locations3=list(zip(df_aw3['LATITUDE'].values, df_aw3['LONGITUD'].values))
locations5=list(zip(df_aw5['LATITUDE'].values, df_aw5['LONGITUD'].values))

In [12]:
for i in range(len(locations3)):
    folium.Marker(location=locations3[i],\
                  icon=folium.Icon(color='cadetblue',icon='university',icon_color='white',prefix='fa'), \
                  tooltip = [df_aw3['INSTNM'][i],"Associate"]).add_to(folium_map)

In [13]:
for i in range(len(locations5)):
    folium.Marker(location=locations5[i],\
                  icon=folium.Icon(color='gray',icon='user-md',icon_color='white',prefix='fa'),\
                  tooltip = [df_aw5['INSTNM'][i],"Bachelors'"]).add_to(folium_map)

In [14]:
# text="test"
folium.Marker(location=[25.810710, -80.347651],
              icon=folium.Icon(color='blue',icon='Home',icon_color='white',prefix='fa'),\
                  tooltip =["West Coast University-Miami","Bachelors","Home"]).add_to(folium_map)

In [15]:
radius=[5,10,20,30]
for i in range(len(radius)):
    folium.Circle(
        radius=((radius[i]*8000)/5),
        location=[latOfOrigin, lngOfOrigin],
        tooltip=str(radius[i])+' miles boundary',
        color='blue',
        opacity=0.2,
        fill=False,
    ).add_to(folium_map)

In [16]:
# folium.Circle(location = [latOfOrigin, lngOfOrigin], 
#         radius = 8000, popup = ' 5 miles radius ').add_to(folium_map)

In [17]:
folium_map.save("2. Processed data/Map.html")